#root {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid grey;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.small {
  height: 80px;
  gap: 15px;
  border-bottom: 1px solid grey;
}

.big {
  height: 100%;
}

.btnSearch {
  height: 24px;
  width: 100px;
}

.table {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  width: 100%;
  padding: 10px;
}

.tableCol {
  display: flex;
  justify-content: flex-start;
}

.tableHeader {
  font-weight: bold;
}

.card {
  border: 1px solid grey;
}

.cards-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.card-details {
  display: flex;
  flex-direction: column;
  width: 100%;
  /*min-height: 100%;*/
  /*height: 100%;*/
  margin: 10px;
  padding: 10px;
  border: 1px solid grey;
}

.btn-close {
  display: flex;
  align-self: center;
  width: 70px;
  justify-content: center;
}

.params {
  list-style: none;
  text-align: left;
}
